/Latex/*.aux
/Latex/*.bbl
/Latex/*.blg
/Latex/*.brf
/Latex/*.dvi
/Latex/*.log
/Latex/*.lof
/Latex/*.lot
/Latex/*.fls
/Latex/*.out
/Latex/*.toc
/Latex/*.fmt
/Latex/*.fot
/Latex/*.cb
/Latex/*.cb2
/Latex/*.idx
/Latex/*.ilg
/Latex/*.ind
/Latex/*.inx
/Latex/*.ltx
/Latex/*.mw
/Latex/*.nav
/Latex/*.pre
/Latex/*.snm
/Latex/*.sout
/Latex/*.synctex.gz
/Latex/*.upa
/Latex/*.upb
/Latex/*.vrb
/Latex/*.xcp
/Latex/*.xdv
/Latex/*.fdb_latexmk
/Latex/*.synctex\(busy\)
